.container-profile {
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-avatar {
  border: 5px solid var(--ion-color-primary);
  width: 150px;
  height: 150px;
  border-radius: 180px;
}
